.ReOrder {
    width: 100%;
    padding: 16px;
    text-align: center;
    margin: 10px;
}



.ReOrder button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #F7D420;
    background-color: #55CFC4;
    box-shadow: 0 2px 3px #F04F54;
    color: #fff;
    cursor: pointer;
}

.ReOrder button:hover,
.ReOrder button:active {
    color: #fff;
    background-color: #35BCB0;
    box-shadow: 0 2px 3px #F04F54;
}