.Post {
    width: 100%;
    padding: 16px;
    text-align: center;
    border: 1px solid #F7D420;
    box-shadow: 0 2px 3px #F04F54;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #E1EEC3;
}

.Post:hover,
.Post:active {
    background-color: #EDE873;
}

.Author {
    margin: 16px 0;
    color: #F68F3B;
}

.Titles {
    color: #F04F54;
}

a:link {
    text-decoration: none;
}